# ---> C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Built files for the cpp demo
cpp/include
cpp/lib
cpp/main

# Built files for the Sailfish OS app
sfos/build-harbour-sailpipe-*
sfos/harbour-sailpipe/include
sfos/harbour-sailpipe/lib
sfos/harbour-sailpipe/harbour-sailpipe.pro.user
sfos/harbour-sailpipe/translations/*.qm
sfos/harbour-sailpipe/.weblate
sfos/harbour-sailpipe/qml/images/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
QtCreatorDeployment.txt
sfos/harbour-sailpipe/Makefile
cmake_install.cmake
debugfiles.list
debuglinks.list
debugsourcefiles.list
debugsources.list
documentation.list
elfbins.list
sfos/harbour-sailpipe/harbour-sailpipe
sfos/harbour-sailpipe/harbour-sailpipe_autogen/
install_manifest.txt

