# ---> C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Built files for the cpp demo
cpp/include
cpp/lib
cpp/main

# Built files for the Sailfish OS app
sfos/build-harbour-sailreel-*
sfos/harbour-sailreel/include
sfos/harbour-sailreel/lib
sfos/harbour-sailreel/harbour-sailreel.pro.user
sfos/harbour-sailreel/translations/*.qm
sfos/harbour-sailreel/.weblate
sfos/harbour-sailreel/qml/images/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
QtCreatorDeployment.txt
sfos/harbour-sailreel/Makefile
cmake_install.cmake
debugfiles.list
debuglinks.list
debugsourcefiles.list
debugsources.list
documentation.list
elfbins.list
sfos/harbour-sailreel/harbour-sailreel
sfos/harbour-sailreel/harbour-sailreel_autogen/
install_manifest.txt

