[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-newpipe
Exec=harbour-newpipe
Name=harbour-newpipe

[X-Sailjail]
OrganizationName=uk.co.flypig
ApplicationName=harbour-newpipe
Permissions=Internet;Audio;Downloads;WebView
